version: '3.8'

services:
  db:
    image: postgres:17.1
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_DB: electromundo
      POSTGRES_PASSWORD: root
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
